################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/FlexQuery/obj
/src/FlexQuery/bin/Debug/net8.0
/src/FlexQueryApp/bin/Debug/net8.0
/src/FlexQueryApp/obj
